.test {
	height:500px;
	width:500px;
	background-color:black;
	position:relative;
	overflow:hidden;
}

.subdiv {
	height:100px;
	width:100px;
	background-color:yellow;
	position:absolute;
	top:-5px;
	left:0px;
}

.menu {
	display:flex;
	height:100px;
}

.elem {
	height:100px;
	width:100px;
}

#_2 {
	background-color:yellow;
}

#_3 {
	background-color:blue;
}

#_4 {
	background-color:red;
}
