/*
** H-LIST
*/

.h-list {
	display:flex;
	flex-direction:row;
	width:100%;
	height:100px;
}

.h-list ul {
	overflow:scroll;
	white-space:nowrap;
	display:inline-block;
	flex:1;
	-webkit-padding-start:0px;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	height:100%;
	overflow-y:hidden;
}

.h-list ul li {
	height:100%;
	display:inline-block;
	transition: transform .4s ease-in-out;
	filter:blur(1px);
}

.h-list ul li:hover {
	transform:scale(1.2,1.2);
	filter:blur();
}

.h-scroll{
	transition: transform .4s ease-in-out;
	width:100px;
}

.h-scroll:hover{
	transform:scale(1.3,1.3);
}

.selected {
	filter:drop-shadow(3px 3px 1px yellow) !important;
}


.h-list img {
	height:100%;
	width:auto;
}
