/*
 ** GLOBAL
 */

:root {
	--background:#29537c;
	--font:white;
	--b2:white;
}

.column {
	flex-direction:column;
}

.block {
	display: block;
}

.inline {
	display:inline;
}

.j-center {
	justify-content:center;
}

.y-j-center {
	align-items: center;
}

.b2 {
	background-color:var(--b2);
	border-radius:50px;
	padding:15px;
}

.center {
	text-align:center;
}

.right {
	float:right;
}

.container {
	margin:10px 20px;
	display:flex;
}

.page {
}

::-webkit-scrollbar {
	display: none;
}

label {
	color: var(--font);
}

body {
	background-color: var(--background);
}

textarea {
	height:100%;
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	resize:none;
}

a {
	text-decoration:none;
	color:initial;
}

img {
	width:100%;
	display:block;
}

form{
	text-align:left;
	padding:10px;
	box-sizing:border-box;
	margin:0 auto;
	max-width:300px;
}

h1 {
	color:var(--font);
	font-size:2em;
}

form input {
	display:block;
	width:100%;
	height:30px;
	margin:5px auto 8px auto;
	box-sizing:border-box;
	border-radius:2px;
	border:none;
	padding:5px;
	font-size:15px;
	background-color:grey;
}	

.wrap {
	height:100%;
	width:100%;
	position:relative;
}

/*
** BUTTONS
*/

.button, .link-button{
	border:1px solid black;
	border-radius:15%;
	padding:2px;
	cursor:pointer;
}

.button:hover, .link-button:hover{
	color:white;
	background-color:black;
}

.link-button {
	background: none;
	font-size: 1em;
	display:inline;
}

/*
** INSTALL
*/

.log {
	height:250px !important;
	width:100%;
}

p.green {
	color:green;
}

p.red {
	color:red;
}

/*
** MENU
*/


#camera {
	width:90%;
	position:relative;
}

#camera-menu {
	width:10%;
}
#camera-menu > img {
filter:hue-rotate(70deg);
}

.main {
	width:70%;
	flex:1;
}

.side {
	width:200px;
	height:800px;
}

.header {
	text-align:center;
	margin-right:10px;
	padding:5px 15px;
}

.menu {
	background-color:var(--background);
	border-bottom:solid white 2px;
}

#camera-menu > input {
	display:none;
}

/*
** CAMERA
*/

#preview {
	position:absolute;
	height:100px;
	width:100px;
	top:0;
	right:0;
	border:solid black 2px;
}

video {
	width:100%;
}

canvas {
	display:none;
}


/*
** GALLERY
*/

.img {
	position:relative;
	z-index:10;
	border-radius:20px;
	align-items:flex-start;
	width:300px;
	min-width:200px;
}

.opac {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:-1;
	background-color:white;
	opacity:0.5;
	border-radius:20px;
}

.img_infos {
	padding:4px;
}

.img_infos > span {
	padding:4px;
	text-align:center;
}

.icon  img {
	height:50px;
	width:50px;
}

.icon  span {
	vertical-align:middle;
	font-size:2em;
}

.img > img {
}

.gallery {
	flex-wrap:wrap;
}

.div_comment {
	height:100px;
	width:100%;
	overflow-y:scroll;
	white-space:wrap;
	background-color:white;
	padding:10px;
}
